// Border Colors

@each $color-name, $color-value in $colors {
	.border-#{$color-name} { border-color: $color-value; }
  .hover\:border-#{$color-name}:hover { border-color: $color-value; }
}

@each $tint-num, $tint-val in $tints {
  .border-darken-#{$tint-num} { border-color: rgba(0, 0, 0, $tint-val); }
  .border-lighten-#{$tint-num} { border-color: rgba(255, 255, 255, $tint-val); }
  .hover\:border-darken-#{$tint-num}:hover { border-color: rgba(0, 0, 0, $tint-val); }
  .hover\:border-lighten-#{$tint-num}:hover { border-color: rgba(255, 255, 255, $tint-val); }
}
