// Forms

.input,
.textarea,
.select {
  appearance: none;
  background-color: $white;
  border: $border-width solid $darken-1;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  padding: .75em;
  vertical-align: middle;
  transition: border $transition-value;

  &:focus {
    border-color: $darken-3;
  }

  &:disabled {
    background-color: $grey;
    opacity: .5;
  }
}

.input,
.textarea {

  &:read-only {
    background-color: $light-grey;
  }
}

.textarea {
  resize: vertical;
}

.select {
  background: $white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75em center;
	background-size: .5em;
  padding-right: 2em;
}
