// Hide

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.display-none { display: none; }
.visibility-hidden { visibility: hidden; }

@include generate-breakpoint-prefixes {
  &display-none { display: none; }
  &visibility-hidden { visibility: hidden; }
}
