// Hover

// Mute

.hover\:mute {
  opacity: 1;
  transition: $transition-value;

  &:hover,
  &:focus {
    opacity: .5;
  }

  &:active {
    opacity: .8;
  }
}

// Unmute
// Hint: Combine with the 'muted' class

.hover\:unmute {
  transition: $transition-value;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

// Reveal

// <div class="hover-reveal">
//   <div class="reveal">Element revealed on hover or focus</div>
// </div>

.hover\:reveal {

  .reveal {
    opacity: 0;
    transition: $transition-value;
  }

  &:hover,
  &:focus {

    .reveal {
      opacity: 1;
    }
  }
}

// Affect Others

// <div class="hover-affect">
//   <div class="affect">Highlights hovered element by affecting others</div>
//   <div class="affect">Highlights hovered element by affecting others</div>
//   <div class="affect">Highlights hovered element by affecting others</div>
// </div>

.hover\:affect {

  &:hover {

    .affect {
      opacity: .5;
    }
  }

  .affect {
    transition: $transition-value;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Zoom

// <div class="hover-zoom">
//   <div class="zoom">Element zoomed in on hover or focus</div>
// </div>

.hover\:zoom {

  .zoom {
    transform: scale(1, 1);
    transition: $transition-value;
  }

  &:hover,
  &:focus {

    .zoom {
      transform: scale(1.1, 1.1);
    }
  }
}
