// Spacing

$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;
$space-5: 8rem !default;

$spacing: (
  0: 0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5
);

@each $space-key, $space-value in $spacing {
	.m#{$space-key} { margin: $space-value; }
	.mt#{$space-key} { margin-top: $space-value; }
	.mr#{$space-key} { margin-right: $space-value; }
	.mb#{$space-key} { margin-bottom: $space-value; }
	.ml#{$space-key} { margin-left: $space-value; }

	@if $space-key > 0 {
    .my#{$space-key} { margin-top: $space-value; margin-bottom: $space-value; }
  	.mx#{$space-key} { margin-right: $space-value; margin-left: $space-value; }
    .mxn#{$space-key} { margin-right: -$space-value; margin-left: -$space-value; }
	}

	.p#{$space-key} { padding: $space-value; }
	.pt#{$space-key} { padding-top: $space-value; }
	.pr#{$space-key} { padding-right: $space-value; }
	.pb#{$space-key} { padding-bottom: $space-value; }
	.pl#{$space-key} { padding-left: $space-value; }

  @if $space-key > 0 {
  	.py#{$space-key} { padding-top: $space-value; padding-bottom: $space-value; }
  	.px#{$space-key} { padding-right: $space-value; padding-left: $space-value; }
  }
}

.mr-auto { margin-right: auto; }
.ml-auto { margin-left: auto; }
.mx-auto { margin-right: auto; margin-left: auto; }

@include generate-breakpoint-prefixes {
  @each $space-key, $space-value in $spacing {
  	&m#{$space-key} { margin: $space-value; }
  	&mt#{$space-key} { margin-top: $space-value; }
  	&mr#{$space-key} { margin-right: $space-value; }
  	&mb#{$space-key} { margin-bottom: $space-value; }
  	&ml#{$space-key} { margin-left: $space-value; }

  	@if $space-key > 0 {
      &my#{$space-key} { margin-top: $space-value; margin-bottom: $space-value; }
    	&mx#{$space-key} { margin-right: $space-value; margin-left: $space-value; }
      &mxn#{$space-key} { margin-right: -$space-value; margin-left: -$space-value; }
  	}

  	&p#{$space-key} { padding: $space-value; }
  	&pt#{$space-key} { padding-top: $space-value; }
  	&pr#{$space-key} { padding-right: $space-value; }
  	&pb#{$space-key} { padding-bottom: $space-value; }
  	&pl#{$space-key} { padding-left: $space-value; }

    @if $space-key > 0 {
    	&py#{$space-key} { padding-top: $space-value; padding-bottom: $space-value; }
    	&px#{$space-key} { padding-right: $space-value; padding-left: $space-value; }
    }
  }
}
