// Settings

// Color
$black: #111 !default;
$white: #fff !default;
$light-grey: #f5f5f5 !default;
$grey: #ccc !default;
$blue: #1876d9 !default;

$colors: (
  transparent: transparent,
  black: $black,
  white: $white,
  light-grey: $light-grey,
  grey: $grey,
  blue: $blue
);

// Tints
$tint-1: .125 !default;
$tint-2: .25 !default;
$tint-3: .5 !default;
$tint-4: .75 !default;
$tint-5: .875 !default;

$tints: (
	1: $tint-1,
	2: $tint-2,
	3: $tint-3,
	4: $tint-4,
	5: $tint-5
);

$darken-1: rgba(0, 0, 0, $tint-1) !default;
$darken-2: rgba(0, 0, 0, $tint-2) !default;
$darken-3: rgba(0, 0, 0, $tint-3) !default;
$darken-4: rgba(0, 0, 0, $tint-4) !default;
$darken-5: rgba(0, 0, 0, $tint-5) !default;

$lighten-1:	rgba(255, 255, 255, $tint-1) !default;
$lighten-2:	rgba(255, 255, 255, $tint-2) !default;
$lighten-3: rgba(255, 255, 255, $tint-3) !default;
$lighten-4: rgba(255, 255, 255, $tint-4) !default;
$lighten-5: rgba(255, 255, 255, $tint-5) !default;

// Border
$border-width: 1px !default;
$border-radius: 4px !default;

// Transition
$transition-value: .4s cubic-bezier(.645, .045, .355, 1.000) !default;

// Fonts
// $sans: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif !default;
$sans: 'GT Walsheim Pro', sans-serif !default;
$serif: Georgia, Times, serif !default;
$mono: Consolas, Monaco, monospace !default;

// Breakpoints
$breakpoint-sm: 32rem !default;
$breakpoint-md: 48rem !default;
$breakpoint-lg: 64rem !default;

$breakpoints: (
	sm: $breakpoint-sm,
	md: $breakpoint-md,
	lg: $breakpoint-lg
);

// Debug
$debug: false !default;
