<footer class="footer">

  <div class="footer__share">
    <div class="share">
      <p class="share__text">Share</p>
      <ul class="share__list">
        <li class="share__item">
          <a href="//twitter.com/home?status=World%20Cup%20Calendar%20%E2%80%93%20worldcupcalendar.com" onclick="javascript:void window.open('//twitter.com/home?status=World%20Cup%20Calendar%20%E2%80%93%20worldcupcalendar.com','1','width=700,height=500,toolbar=1,menubar=1,location=0,status=1,scrollbars=0,resizable=1,left=0,top=0');return false;" target="_blank" class="share__link">
            <i class="share__icon fab fa-twitter-square"></i>
          </a>
        </li>
        <li class="share__item">
          <a href="//www.facebook.com/sharer/sharer.php?u=worldcupcalendar.com" onclick="javascript:void window.open('//www.facebook.com/sharer/sharer.php?u=worldcupcalendar.com','1','width=700,height=500,toolbar=1,menubar=1,location=0,status=1,scrollbars=0,resizable=1,left=0,top=0');return false;" target="_blank" class="share__link">
            <i class="share__icon fab fa-facebook-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__credit">
    <div class="credit">
      <p class="credit__text">
        <span class="credit__intro">Created by</span> <a href="//www.michaeldoyle.co" target="_blank" class="credit__link">Michael Doyle</a>
      </p>
    </div>
  </div>

</footer>
