<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <title>{{ site.title }}</title>
  <meta name="description" content="">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#222222">
  <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#222222">
  <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#222222">

  <!-- Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="World Cup Calendar"/>
  <meta property="og:description" content=""/>
  <meta property="og:image" content="http://worldcupcalendar.com/assets/img/social.png"/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="World Cup Calendar">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="http://worldcupcalendar.com/assets/img/social.png">

  <link rel="stylesheet" href="assets/css/dist/bolt.min.css">

  <script defer src="https://pro.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-d84LGg2pm9KhR4mCAs3N29GQ4OYNy+K+FBHX8WhimHpPm86c839++MDABegrZ3gn" crossorigin="anonymous"></script>

  <script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'js';
  </script>

</head>
